.header {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0;
  z-index: 10;
}

.header__container {
  max-width: 1004px;
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  background-color: var(--blue);
  text-transform: uppercase;
  line-height: 105%;
  border: 3px solid #fff;

  @media screen and (max-width: 1020px) {
    max-width: 752px;
    min-height: 60px;
  }
  @media screen and (max-width: 780px) {
    min-height: 50px;
  }
}

.header__logo {
  min-width: 208px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #fff;

  @media screen and (max-width: 1020px) {
    min-width: 170px;
    min-height: 60px;
  }
  @media screen and (max-width: 780px) {
    min-width: 122px;
    min-height: 50px;
    scale: 0.8;
    border-right: none;
  }

  img {
    display: block;
  }
}

.navigation__list {
  margin-left: 51px;
  margin-right: 51px;
  display: flex;
  gap: 60px;
  font-size: 20px;
  line-height: 105%;
  text-wrap: nowrap;

  @media screen and (max-width: 1020px) {
    margin-left: 30px;
    margin-right: 30px;
    gap: 40px;
    font-size: 15px;
  }

  @media screen and (max-width: 780px) {
    display: none;
  }
}

.header__buy {
  min-width: 208px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-left: 3px solid #fff;
  font-size: 24px;
  line-height: 105%;

  @media screen and (max-width: 1020px) {
    min-width: 169px;
    min-height: 60px;
    font-size: 16px;
  }
  @media screen and (max-width: 780px) {
    min-width: 161px;
    width: 100%;
    border-right: 3px solid #fff;
  }
}

.header__menu {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  position: absolute;
  top: -120vh;
  left: 0;
  z-index: 20;
  transition: top 1s ease;

  ol {
    display: flex;
    flex-direction: column;
    gap: 45px;
    font-size: 24px;
    line-height: 105%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 50%;
    translate: 0 -25%;
  }
}

.header__menu.visible {
  top: 67px;
}

.header__menu-btn {
  display: none;
  min-width: 75px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: var(--blue);

  div {
    width: 23px;
    height: 4px;
    background-color: #fff;
    transition: all 100ms ease;
  }

  @media screen and (max-width: 780px) {
    display: flex;
  }
}

.header__menu-btn.close {
  div {
    &:nth-child(1) {
      rotate: 45deg;
      translate: 3px 4px;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      rotate: -45deg;
      translate: 3px -3px;
    }
  }
}
