.roadmap {
  min-height: 759px;
  padding-top: 70px;
  border-top: 6px solid var(--blue);
  border-left: 10px solid var(--blue);
  border-right: 10px solid var(--blue);
}

.roadmap__container {
  width: min(1398px, 100%);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.roadmap__title {
  text-transform: uppercase;

  span:first-of-type {
    font-family: var(--second-family);
    font-size: 90px;
    position: relative;

    &::before {
      content: "";
      width: calc(100% + 16px);
      height: 54px;
      position: absolute;
      top: 10px;
      left: -8px;
      z-index: -1;
      background-color: var(--red);
    }
  }
  span:last-of-type {
    width: fit-content;
    display: block;
    font-family: var(--second-family);
    font-size: 60px;
    position: relative;
    top: -26px;

    &::before {
      content: "";
      width: calc(100% + 16px);
      height: 54px;
      position: absolute;
      top: 0;
      left: -8px;
      z-index: -1;
      background-color: var(--blue);
    }
  }
}

.roadmap__indicators {
  margin-top: 155px;
  display: flex;
}

.indicators__process {
  width: 588px;
}

.process__dates,
.future__dates {
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 105%;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.process__dates {
  height: 46px;
  padding-left: 64px;
  padding-right: 126px;
  gap: 226px;
  background-color: var(--blue);
}
.future__dates {
  height: 38px;
  padding-left: 109px;
  padding-right: 50px;
  gap: 180px;
  margin-top: 4px;
  background-color: var(--red);
}

.process__schedule {
  margin-top: 4px;
  display: flex;
  gap: 114px;
}

.process__plan {
  padding: 18px 35px 24px 51px;
  background-color: var(--blue);
  font-size: 20px;
  line-height: 105%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;

    li {
      position: relative;

      &::before {
        content: url("../public/img/roadmap/roadmap_mark.png");
        position: absolute;
        top: -6px;
        left: -30px;
      }
    }
  }
}

.indicators__future {
  width: 100%;
}

.future__schedule {
  margin-top: 8px;
  display: flex;
  justify-content: end;
  gap: 80px;
}

.future__plan {
  height: fit-content;
  padding: 18px 35px 24px 51px;
  background-color: var(--red);
  font-size: 20px;
  line-height: 105%;

  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;

    li {
      position: relative;

      &::before {
        content: url("../public/img/roadmap/roadmap_mark.png");
        position: absolute;
        top: -6px;
        left: -30px;
      }
    }
  }
}

.roadmap__legends {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
  text-transform: uppercase;
  text-align: right;

  .legends__process {
    padding-top: 12px;
    font-family: var(--second-family);
    font-size: 40px;
    position: relative;

    &::before {
      content: "";
      width: calc(100% + 16px);
      height: 41px;
      position: absolute;
      top: 10px;
      left: -8px;
      z-index: -1;
      background-color: var(--blue);
    }
  }

  .legend__future {
    width: fit-content;
    font-family: var(--second-family);
    font-size: 40px;
    position: relative;

    &::before {
      content: "";
      width: calc(100% + 16px);
      height: 41px;
      position: absolute;
      top: 0;
      left: -8px;
      z-index: -1;
      background-color: var(--red);
    }
  }
}

.not-done {
  &::before {
    opacity: 0.3;
  }
}
